body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
}

div {
  border: 1px dotted red;
}

header {
  display: flex;
  position: fixed;
  border-bottom: 1px solid seashell;
  height: 69px;
  top: 0;
  width: 100%;
  z-index: 5;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0px;
  background-color: black;
}

header img {
  height: 50px;
  padding-left: 10px;


}

nav {
  margin-right: 20px;

}

.linking span {
    text-decoration: underline;
    padding: 0 15px;
}

.mission {
  display: flex;
  margin-top: 69px;
  width: 1200px;
  height: 700px;
  background-image: url("../Images/img-mission-background.jpg");
  text-align: center;
  align-items: center;
}

.pitch {
  width: 1200px;
  background-color: black;
}

.tea {
  width: 1000px;
}

.TM {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  flex: 1 1 1000px;
}

.choices h4 {
  margin: 10px auto;
}

.locations {
  height: 500px;
  width: 1200px;
  background-image: url("../Images/img-locations-background.jpg");
  padding-bottom: 70px;
}

.local {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  background-color: black;
  opacity: 1;
  margin: 15px 20px;

}

.stores {
  display: flex;
  justify-content: center;

}
span h2 {
  margin-top: 80px;
}

.contact {
  padding-top: 0px;
  margin-top: 0px;
  height: 200px;
}

footer {
  display: flex;
  text-align: left;
  justify-content: flex-start;
  width: 100%;
  z-index: 5;
}

.copy {
  margin-left: 20px;
}
